@import url('https://fonts.cdnfonts.com/css/satoshi');

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-custom {
  background-image: url('/src/assets/landing-image.png');
  background-position: center;
}


.marquee {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}

.marquee p {
  display: inline-block;
  animation: scroll 120s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/*body {
  cursor: none;
}

/* Custom scroll wheel */

@media screen and (min-width: 769px) {
  @layer utilities {
    .scrollbar-thin {
      scrollbar-width: thin;
      scrollbar-color: #4F46E5 #F3F4F6; /* Thumb color, Track color */
    }
  
    .scrollbar-thumb {
      @apply bg-indigo-500 rounded-lg;
    }
  
    .scrollbar-thumb:hover {
      @apply bg-indigo-600;
    }
  
    .scrollbar-track {
      @apply bg-gray-100;
    }
  }
}

